body {
  margin: 0;
  padding: 0;
}

.noscrolly {
  padding: 0;
  max-width: 60rem;
  margin: 0 auto;
}


h1 {
  font-family: "Karla";
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 23px;
}


h6 {
  font-family: "Karla";
  margin-bottom: 70px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 10px;
}

p{
  font-family: "Karla";
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
}

.article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

.figure {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  left: 0;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.step {
  margin: 0 auto 0 auto;
  padding: 0;
  height: 100vh;
}

.step p {
  text-align: center;
  font-size: 18px;
  font-family: "karla" ;
  text-align: center;
  margin: 0;
  padding: 10px 18px;
  background-color: rgba(255, 255, 255, 0.95);
}

.sticky-img {
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
  overflow: hidden;
}